@model DangBoWeb.Database.User

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create","User",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Thêm Người Dùng</h6>
            <a href="@Url.Action("Index", "User")" class="btn btn-danger">
                Hủy
            </a>
        </div>

        <div class="card-body">
            <div class="user">
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="HoTen" name="HoTen" placeholder="@Html.DisplayNameFor(model=>model.HoTen)">
                    @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="TaiKhoan" name="TaiKhoan" placeholder="@Html.DisplayNameFor(model=>model.TaiKhoan)">
                    @Html.ValidationMessageFor(model => model.TaiKhoan, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="MatKhau" name="MatKhau" placeholder="@Html.DisplayNameFor(model=>model.MatKhau)">
                    @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="text-center">
                <input type="submit" value="Lưu" class="btn btn-success"/>
            </div>
        </div>
    </div>
}
