@model BaoCaoWeb.Models.ThongTin

<style>
    .chartdiv {
        width: auto;
        height: 600px;
    }

    a {
        color: inherit;
    }
</style>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-cartesian-3d.min.js"></script>
<link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
<link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/anychart/jschartSanLuong.js"></script>
<script src="~/Scripts/anychart/jschartDoanhThu.js"></script>
<script src="~/Scripts/anychart/jschartGiaBanBinhQuan.js"></script>
<script>
    $(document).ready(function () {

    });

</script>

<div class="row">
    <div class="col-auto mb-4">
        <div class="card border-left-info shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="font-weight-bold text-info mb-1">
                            Số lượng khách hàng
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.KhachHang.ToString("N0").Replace(",", ".")</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user fa-2x text-info"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->

<div class="row">

    <!-- Pie Chart -->
    <div class="col-auto">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">THỰC HIỆN CÁC CHỈ TIÊU TỔNG CÔNG TY GIAO ĐẾN NGÀY @DateTime.Now.ToString("dd/MM/yyyy")</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tblSanLuong" class="table table-bordered text-dark h6 text-center">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Nội dung/Chỉ tiêu</th>
                                <th>Thực hiện</th>
                                <th>Tỷ lệ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lstSanLuong)
                            {
                                <tr>
                                    <td class="align-middle">@item.Ky</td>
                                    <td>@item.NoiDung <div class="font-weight-bold text-danger mt-1">@item.NamPrevious.ToString("N0").Replace(",", ".")</div> </td>
                                    <td class="align-middle"><div class="font-weight-bold text-primary">@item.NamPresent.ToString("N0").Replace(",", ".")</div></td>
                                    <td class="align-middle"></td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>


</div>



