@model PhongTroWebMVC.Models.Phong
@using PhongTroWebMVC.Content 
@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>CHI TIẾT PHÒNG</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GiaTien)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GiaTien)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TienCoc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TienCoc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Thue)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Thue)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NgayThue)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NgayThue)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ChiSoDienOld)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ChiSoDienOld)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ChiSoDien)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ChiSoDien)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SoNKNuoc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SoNKNuoc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ChiSoNuocOld)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ChiSoNuocOld)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ChiSoNuoc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ChiSoNuoc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ModifyDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ModifyDate)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
