@model DangBoWeb.Models.NhiemKy
@{
    ViewBag.Title = "Edit";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script type="text/javascript">
        $(document).ready(function () {
            //date
            $("input[name*='Ngay']").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-5:+5"
            });
        });
    </script>
}
@using (Html.BeginForm("Edit", "NhiemKy", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Sửa Nhiệm Kỳ</h6>
            <a href="@Url.Action("Index", "NhiemKy")" class="btn btn-danger">
                Hủy
            </a>
        </div>

        <div class="card-body">
            <div class="user">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @*=====*@
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="Name" name="Name" placeholder="@Html.DisplayNameFor(model => model.Name)" value="@Html.DisplayFor(model => model.Name)">
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="TuNgay" name="TuNgay" placeholder="@Html.DisplayNameFor(model=>model.TuNgay)" value="@Html.DisplayFor(model => model.TuNgay)">
                    <span>@Html.ValidationMessageFor(model => model.TuNgay, "", new { @class = "text-danger" })</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="DenNgay" name="DenNgay" placeholder="@Html.DisplayNameFor(model=>model.DenNgay)" value="@Html.DisplayFor(model => model.DenNgay)">
                    <span>@Html.ValidationMessageFor(model => model.DenNgay, "", new { @class = "text-danger" })</span>
                </div>
                <div hidden="hidden">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" id="CreateBy" name="CreateBy" placeholder="@Html.DisplayNameFor(model => model.CreateBy)" value="@Html.DisplayFor(model => model.CreateBy)">
                        @Html.ValidationMessageFor(model => model.CreateBy, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" id="CreateDate" name="CreateDate" placeholder="@Html.DisplayNameFor(model => model.CreateDate)" value="@Html.DisplayFor(model => model.CreateDate)">
                        @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" id="ModifyBy" name="ModifyBy" placeholder="@Html.DisplayNameFor(model => model.ModifyBy)" value="@Html.DisplayFor(model => model.ModifyBy)">
                        @Html.ValidationMessageFor(model => model.ModifyBy, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" id="ModifyDate" name="ModifyDate" placeholder="@Html.DisplayNameFor(model => model.ModifyDate)" value="@Html.DisplayFor(model => model.ModifyDate)">
                        @Html.ValidationMessageFor(model => model.ModifyDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="text-center">
                    <input type="submit" value="Lưu" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}

