@model IEnumerable<PhongTroWebMVC.Models.HinhAnh>

@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head> 
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>DANH SÁCH HÌNH ẢNH</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang.HoTen)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Action("GetImage", new { id=item.ID})" width="100" height="100" />
                        @*@Html.DisplayFor(modelItem => item.Image)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KhachHang.HoTen)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { onclick = "return confirm('Bạn có chắc chắn xóa?');" })
                </td>
            </tr>
        }

    </table>

</body>
</html>
