@model IEnumerable<DangBoWeb.Models.DonVi>
@{
    ViewBag.Title = "Index";
}
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "order": [[0, "asc"]]
            });
        });
    </script>
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Đơn Vị</h6>
        <a href="@Url.Action("Create", "DonVi")" class="btn btn-primary btn-icon-split">
            <span class="text">Thêm</span>
        </a>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.STT)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TenDonVi)
                        </th>
                        <th>
                            Xử Lý
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.STT)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TenDonVi)
                        </th>
                        <th>
                            Xử Lý
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.STT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenDonVi)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "DonVi",new { ID = item.ID })" class="btn btn-warning">
                                    Sửa
                                </a>
                                <a href="@Url.Action("Delete", "DonVi",new { ID = item.ID })" class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn xóa?');">
                                    Xóa
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


